body{
    margin: 0 auto;
    font-family: Arial, sans-serif;
    max-width: 80%;
    font-size: 1em;
    line-height: 1.5em;
  }

  h1{
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    color: antiquewhite;
  }

  h2{
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    color: antiquewhite;
  }

  h2{
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    color: antiquewhite;
  }

  h3{
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    color: antiquewhite;
  }

  img{
    width: 100%;
  }